<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<%= render 'shared/flash_messages' unless flash.empty? %>

<div class="background-blue height-100">
  <div class="container v-center">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4 title">
          Bienvenidos al Servidor de Conferencias<br>
          <strong>Academia Politécnica la Trinidad</strong>
        </h1>
        <hr class="white-border">
      </div>
      <div class="col-md-6">
        <h2 class="text-center white"><i class="far fa-life-ring"></i>
          <%= mail_to(Rails.configuration.support_email, "Soporte", class: "text-center white-link") %>
        </h2>
      </div>
      <div class="col-md-6">
        <h2 class="text-center white"><i class="fas fa-file-pdf"></i>
          <%= link_to("Documentación", Rails.configuration.documentation_url, target: "_blank", class: "text-center white-link") %>
        </h2>
      </div>
    </div>
  </div>
</div>
