// Custom styles for Palt Precencial.
.background-blue {
  background-color: #467FCF;
  color: #fff !important
}

.height-100 {
  position: fixed;
  height: 81% !important;
  width: 100%;
}

.v-center {
  padding-top: 15%;
}

.white-border {
  border-color: #fff !important;
}

.title {
  font-size: 2.5rem !important;
}

.white-link {
  color: #fff !important;
}

.white-link:hover {
  color: #fff !important;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

